.*.sw*
.swp

solve
fortran/*.mod
rust/target/*
rust/target/
rust/Cargo.lock
python/__pycache__/
*.pdb
*.dll
*.json
*.mem
*.class
*.pyo
*.pyc
*.prof
*.o
*.d

# dotnet 
csharp/bin/
csharp/obj/
csharp/.vs/
csharp/test/bin/
csharp/test/obj/

# c
c/solve

rust/main
go/main
