# vim
/**/.*.sw*

solve
fortran/*.mod

python/__pycache__/
*.pdb
*.dll
*.json
*.mem
*.class
*.pyo
*.pyc
*.prof
*.o
*.d

# dotnet 
csharp/bin/
csharp/obj/
csharp/.vs/
csharp/test/bin/
csharp/test/obj/

# c
c/solve

rust/main
go/main

# rust
rust/debug/
rust/target/
rust/Cargo.lock
rust/**/*.rs.bk
rust/*.pdb
rust/solve

load
