.*.sw*
.swp

rust/main_/target/*
python/__pycache__/
*.mem
*.class
*.pyo
*.pyc
*.prof
*.o
*.mod
solve

csharp/obj/
csharp/bin/

argparse
fortran/main
fortran/obj/
fortran/solve
go/.nfs00000000030609dc00000980
go/main
listinha
lua/profiler.log
os
rust/main
rust/target/
subprocess
tempfile

cplusplus/solve
cplusplus/obj